.card {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 12px #c7c7c7;
    -webkit-box-flex: 1;
    flex: 1;
}

.note-title{ 
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #e2e2e2;
}

.note-desc {
    color: gray;
    font-size: medium;
}

.note-date {
    color: gray;
    font-size: small;
}

.btn {
    background-color: rgb(130, 157, 211);
    border: none;
    box-shadow: 0 4px 10px #e2e2e2;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px
}