<div class="card" *ngFor="let note of history; index as i">
  <button class="btn" (click)="delete(i)"><i class="fa fa-trash"></i></button>
  <h4 class="note-title" *ngIf="note.type == 'Todo'">Todo</h4>
  <h4 class="note-title" *ngIf="note.type == 'Alarm'">Alarm</h4>
  <h5 class="note-desc">{{ note.desc }}</h5>
  <pre class="note-date">On: {{ note.date | date: 'short' }} </pre>
</div>
