.edit-btn {
    background-color: rgb(130, 220, 255);
    border: none;
    box-shadow: 0 4px 10px #e2e2e2;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 10px;
    border-radius: 5px;
}
