<ng-template #editnote let-modal>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      *ngIf="this.editingNote.type == 'Todo'"
    >
      Edit Todo
    </h4>
    <h4
      class="modal-title"
      id="modal-basic-title"
      *ngIf="this.editingNote.type == 'Alarm'"
    >
      Edit Alarm
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="desc"> Description </label>
        <div class="input-group">
          <textarea formControlName="desc" id="desc" cols="50"></textarea>
        </div>

        <label *ngIf="this.editingNote.type == 'Todo'" for="date">
          The deadline for your todo-task:
        </label>
        <label *ngIf="this.editingNote.type == 'Alarm'" for="date">
          The date and time for your alarm:</label
        >
        <div class="input-group">
          <input
            id="date"
            formControlName="date"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            #dp="ngbDatepicker"
            [minDate]="minDate"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            >
              <i class="fas fa-caret-down"></i>
            </button>
          </div>
          <input type="time" formControlName="time" style="margin: 0 10px" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p *ngIf="form.touched">Form status: {{ form.status }}</p>
      <button
        type="submit"
        class="btn btn-outline-dark"
        [disabled]="!form.valid"
      >
        Edit!
      </button>
    </div>
  </form>
</ng-template>

<button class="edit-btn" (click)="open(editnote)">
  <i
    class="fas fa-edit fa-xs"
    style="vertical-align: middle; margin-top: -12px"
  ></i>
</button>
