<div class="card" *ngFor="let todo of todos; index as i">
  <button class="btn" (click)="delete(i)">
    <i class="fa fa-trash"></i>
  </button>
  <app-edit-note
    [editingNote]="todo"
    (editTodo)="editTodo($event, i)"
  ></app-edit-note>
  <h3>{{ todo.desc }}</h3>
  <pre class="deadline">By: {{ todo.date | date: 'short' }} </pre>
</div>
