.card {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 12px #c7c7c7;
    -webkit-box-flex: 1;
    flex: 1;
    margin: 5px;
}

.deadline {
    color: gray;
    font-size: medium;
}

.btn {
    background-color: rgb(130, 220, 255);
    border: none;
    box-shadow: 0 4px 10px #e2e2e2;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}