<ng-template #addnote let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a note!</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="desc"> Description </label>
        <div class="input-group">
          <textarea formControlName="desc" id="desc" cols="50"></textarea>
        </div>

        <label *ngIf="form.get('type').value == 'Todo'" for="date">
          Set a deadline for your todo-task:
        </label>
        <label *ngIf="form.get('type').value == 'Alarm'" for="date">
          Set date and time for your alarm:</label
        >
        <div class="input-group">
          <input
            id="date"
            formControlName="date"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            #dp="ngbDatepicker"
            [minDate]="minDate"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            >
              <i class="fas fa-caret-down"></i>
            </button>
          </div>
          <input type="time" formControlName="time" style="margin: 0 10px" />
        </div>

        <br />
        <input type="radio" formControlName="type" value="Todo" /> Todo
        <br />
        <input type="radio" formControlName="type" value="Alarm" /> Alarm
        <br />
      </div>
    </div>
    <div class="modal-footer">
      <p *ngIf="form.touched">Form status: {{ form.status }}</p>
      <button
        type="submit"
        class="btn btn-outline-dark"
        [disabled]="!form.valid"
      >
        Add!
      </button>
    </div>
  </form>
</ng-template>

<button mat-fab color="primary" class="add-btn" (click)="open(addnote)">
  <i class="fas fa-plus"></i>
</button>
