<div class="card" *ngFor="let alarm of alarms; index as i">
  <button class="btn" (click)="delete(i)"><i class="fa fa-trash"></i></button>
  <app-edit-note
    [editingNote]="alarm"
    (editAlarm)="editAlarm($event, i)"
  ></app-edit-note>
  <h3>{{ alarm.date | date: 'short' }}</h3>
  <div class="desc">{{ alarm.desc }}</div>
</div>
