<app-side-bar>
  <div class="card-container">
    <div class="card" *ngFor="let tile of tiles">
      <h2 class="title">
        {{ tile.title }}
      </h2>
      <div class="sub-title">
        You have {{ tile.count }} {{ tile.title }}(s)!
      </div>
      <br />
      <h3 *ngIf="tile.title == 'Todo'">
        <app-todo
          [newTodo]="newTodo"
          (count)="updateCount($event)"
          (history)="sendHistory($event)"
        ></app-todo>
      </h3>
      <h3 *ngIf="tile.title == 'Alarm'">
        <app-alarm
          [newAlarm]="newAlarm"
          (count)="updateCount($event)"
          (history)="sendHistory($event)"
        ></app-alarm>
      </h3>
      <h3 *ngIf="tile.title == 'History'">
        <app-history [newNote]="newHistory" (count)="updateCount($event)">
        </app-history>
      </h3>
    </div>
  </div>
</app-side-bar>
<app-add-note (add)="addANote($event)"></app-add-note>
